{"name":"TANK","slug":"tank-customer","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","scheme":"tank","userInterfaceStyle":"dark","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#060b14"},"newArchEnabled":true,"ios":{"supportsTablet":false,"bundleIdentifier":"com.tank.customer","infoPlist":{"NSLocationWhenInUseUsageDescription":"نحتاج موقعك لإرسال الصهريج إلى عنوانك"}},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#060b14"},"package":"com.tank.customer","permissions":["ACCESS_FINE_LOCATION","ACCESS_COARSE_LOCATION","android.permission.ACCESS_COARSE_LOCATION","android.permission.ACCESS_FINE_LOCATION"]},"plugins":["expo-router","expo-location","expo-secure-store","@react-native-google-signin/google-signin"],"experiments":{"typedRoutes":true},"sdkVersion":"53.0.0","platforms":["ios","android","web"],"extra":{"router":{}}}